<!DOCTYPE html>
{%load static%}
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/flashcard-styles.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
      <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
      <title>Create Class</title>
   </head>
   <body>
      <div style="width:100%">{% include 'classes-header.html' %}</div>


      <form style="margin:100px" method="post">
         {% csrf_token %}
         <!-- <h5>Enter class name: </h5> -->
         <div class="placeholder">
            <i style="font-size: 24px; margin-right: 3rem;">Let's get going!</i>
            <img src="{% static 'notebook.png' %}">
         </div>
         <div class="flexX marg1 pad1">
            <input placeholder="e.g. CS441" name="class_name" style="height:50px; font-size: 36px; width: 200px" required></input></li>
            <button type="submit" class="pad1" style="background-color: var(--dark-blue); border-radius: 5px; height: 50px;">Submit</button>
         </div>
      </form>
      
      {% include "footer.html" %}
      <script src="{% static 'javascript/script.js' %}"></script>
      <script src="{% static 'javascript/flashcard-script.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.26.2/docxtemplater.js"></script>
      <script src="https://unpkg.com/pizzip@3.1.1/dist/pizzip.js"></script>
      <script src="https://unpkg.com/pizzip@3.1.1/dist/pizzip-utils.js"></script>
   </body>
</html>