<!DOCTYPE html>
{%load static%}
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/flashcard-styles.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
      <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
      <title>Create Class</title>
   </head>
   <body>
      <div style="width:100%">{% include 'header.html' %}</div>

      <div class="dashboard-container wide limit" style="padding-left: 5rem; padding-right: 5rem; padding-top: 5rem;">
         <!-- <div class="classes-container wide limit" style="padding: 5rem 1rem 0rem 5rem;"> -->
            <h1><i class="fa-solid fa-map-pin">&nbsp;Decks in {{ class.classes_name }}</i></h1>
            <div class="flexX item-container wide scrollX">
               {% for d in decks %}
               <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;" onclick="location.href='/flashcard/view/{{d.deck_id}}'">{{ d.deck_name }}</div>
               {% endfor %}
            </div>
         </div>

      {% include "footer.html" %}
      <script src="{% static 'javascript/script.js' %}"></script>
      <script src="{% static 'javascript/flashcard-script.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.26.2/docxtemplater.js"></script>
      <script src="https://unpkg.com/pizzip@3.1.1/dist/pizzip.js"></script>
      <script src="https://unpkg.com/pizzip@3.1.1/dist/pizzip-utils.js"></script>
   </body>
</html>