<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
      <link rel="icon" href="logo.png" type="image/x-icon">
      <title>Dashboard</title>
      <style>
         
      </style>
   </head>
   <body>
      <header class="head"></header>
      <div class="dashboard-container wide limit" style="padding-left: 5rem; padding-right: 5rem; padding-top: 5rem;">
      <!-- <div class="dashboard-container wide limit" style="padding-left: 5rem; padding-right: 5rem; padding-top: 5rem;"> -->
         <h1><i class="fa-solid fa-window-maximize">&nbsp;Dashboard</i></h1>
         <div class="flexX wide scrollX">
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            
         </div>
      </div>
      <div class="dashboard-container wide limit" style="padding: 0 5rem; margin-bottom: 1rem;">
         <h1><i class="fa">Recent</i></h1>
         <div class="flexX wide scrollX">
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            <div class="cell test marg1 flexX bord-rad jcenter unselect" style="align-items: center; text-align: center;">Flashcard Example</div>
            
         </div>
      </div>

      <footer class="foot"></footer>
      <script src="script.js"></script>
   </body>
</html>