<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
      <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
      <title>Documents</title>
   </head>
   <body>
      <div style="width:100%">{% include 'document-header.html' %}</div>


      <div class="dashboard-container wide limit" style="padding-left: 5rem; padding-right: 5rem; padding-top: 5rem;">
         <h1><i class="fa-solid fa-address-card">&nbsp;My classes > {This Class}</i></h1>
         <table style="width: 100%" class="marg1 pad1">
            <tr>
               <th>Name</th>
               <th>Date Modified</th>
               <th>File Type</th>
               <th>File Size</th>
            </tr>
            <tr>
               <td>Software developement</td>
               <td>serser</td>
               <td>asdasd</td>
               <td>123 kb</td>
            </tr>
            <tr>
               <td>Software developement</td>
               <td>serser</td>
               <td>asdasd</td>
               <td>123 kb</td>
            </tr>
            <tr>
               <td>Software developement</td>
               <td>serser</td>
               <td>asdasd</td>
               <td>123 kb</td>
            </tr>
            <tr>
               <td>Software developement</td>
               <td>serser</td>
               <td>asdasd</td>
               <td>123 kb</td>
            </tr>
            <tr>
               <td>Software developement</td>
               <td>serser</td>
               <td>asdasd</td>
               <td>123 kb</td>
            </tr>
         </table>
      </div>

      {% include "footer.html" %}
      <script src="{% static 'javascript/script.js' %}"></script>
      <script src="{% static 'javascript/document-script.js' %}"></script>
   </body>
</html>