<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/flashcard-styles.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
      <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
      <title>{{ deck.deck_name }} - {{ request.user }}</title>
      <script>
         var inc = 1
         function incrementl(len){
         var inputLabel = document.getElementById("temp");
         inputLabel.setAttribute("id", "left-" + inc.toString(10));
         var inputChange;
         var image = document.getElementById("img-temp");
         image.setAttribute("id", "img-" + len.toString(10));
         if(inc == 1){
            image.checked = true;
         }
         
         var flash = document.getElementById("flash-temp");
         flash.setAttribute("id", "flash" + len.toString(10));
         flash.innerHTML = "Question #" + inc.toString(10);
         if(inc == 1)
            inputChange = len;
         else
            inputChange = inc - 1;
         inputLabel.setAttribute("for", "img-" + inputChange.toString(10))
         incrementr(len);
         inc++;
         console.log(inputChange);
         }

         function incrementr(len){
         var inputLabel = document.getElementById("temp2");
         inputLabel.setAttribute("id", "right-" + inc.toString(10));
         var inputChange;
         if(inc == len)
            inputChange = 1;
         else
            inputChange = inc + 1;
         inputLabel.setAttribute("for", "img-" + inputChange.toString(10))
         }
      </script>
   </head>
   <body>
      <div style="width:100%">{% include 'flashcard-header.html' %}</div>
      <div style="margin-top: 4rem"></div>
      {% for items in qa %}
         <div class="flashcard limit marg1">
            <label class="show-answer unselect flexX jcenter pad1" for="{{ items.flashcard_answer }}">
               <div>Toggle Answer</div>
            </label>
            <input type="checkbox" id="{{ items.flashcard_answer }}">
            <div class="question">Question: {{ items.flashcard_question }}</div>
            <div class="answer">Answer: {{ items.flashcard_answer }}</div>
         </div>
      {% endfor %}

      {% include "footer.html" %}
      <script src="{% static 'javascript/script.js' %}"></script>
      <script src="{% static 'javascript/flashcard-script.js' %}"></script>
   </body>
</html>